.navigator {
  background-color: #161515;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 20px 40px;
}

.innerLeftLinksList {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.Link {
  color: white;
  text-decoration: none;
}

.Cart {
  height: 40px;
  width: 50px;
  background: #fff;
  position: relative;
}

.cartCircle {
  height: 20px;
  width: 20px;
  background: #f00;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  color: #fff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartCount {
  margin: 0;
}
