.productInfoContainer {
  background: #000;
  color: #fff;
  padding: 0 30px 40px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
  gap: 32px;
}

.productImage {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product_description {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 32px;
  padding-top: 32px;
}
