.checkoutForm {
  background: lightgrey;
  width: 500px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 64px;
}

.heading {
  padding-bottom: 8px;
}

.row {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.label {
  flex-grow: 1;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.3);
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.confirmOrderButton {
  color: rgb(35, 35, 35);
  background: #1ff61f;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 40px;
  margin: 20px 0 0 auto;
  border: none;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(35, 35, 35);
    color: #e2e2e2;
  }
}
